
@media (max-width: 868px){
   .toggle-button{
       display: block;
   } 
   .navbar-navigation{
       display: none;
   }
   .navbar-ul{
       flex-direction: column;
       justify-content: center;
       line-height: 50px;
       padding-top: 40px;
       /* height: 400px; */
       background: #120f50;

   }
   nav ul{
       float: left;
       position: relative;
   }
   nav ul li{
    /* text-align: right; */
    float: right;
    display: flex;
    background: #120f50;
    margin: 0 5px;

   }
   nav ul li a{
       color: white ;
   }
   nav ul ul{
       position: absolute;
       top: 55px;
       right: 60px;
       background: #120f50;
   }
   .navbar-navigation.active{
       display: block;
   }
   .active{
       background: none;
   }
   .navbar-ul li:hover .category-dropdown{
       float: left;
   }
    /* .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    .header{
        position: relative;
        padding-top: 5px;
        left: 0px;
        
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5px;
        top: 50px;
        transform: translate(-5px, -5px);
        z-index: 2;
    }

    .nav-links {
        position: absolute;
        background: #fff4ec;
        height: 470px;
        width: 100%;
        flex-direction: column;
        clip-path: circle(200px at 230% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        padding-top: 50px;
    }
    .nav-links.open {
        clip-path: circle(2000px at 230% -10%);
        pointer-events: all;
    } */
    
}